
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="col-12">
    <a class="btn btn-primary" asp-area="Staff" asp-controller="MongoMigration" asp-action="Profiles">User Profiles</a>
    <a class="btn btn-primary" asp-area="Staff" asp-controller="MongoMigration" asp-action="Games">Games</a>
    <a class="btn btn-primary" asp-area="Staff" asp-controller="MongoMigration" asp-action="Brainstorm">Brainstorm</a>
</div>