@model List<string>
@{
    ViewData["Title"] = "Mongo Migration";
}

<h2>Index</h2>

<div class="col-12">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model.ElementAt(i);
        <a class="btn btn-primary mt-2" asp-area="Staff" asp-controller="MongoMigration" asp-action="@item">@(i + 1) - @item</a>
    }
</div>