@model List<UserContentViewModel>

@{
    Layout = null;

    var morePosts = (bool)ViewData["IsMorePosts"];
    var noItemsText = morePosts ? SharedLocalizer["What? Apparently you found the bottom!"] : SharedLocalizer["What? Apparently there is no content here yet!"];
    var noItemsModel = new ListNoItemsViewModel("fas fa-exclamation-triangle", noItemsText);
}

@if (!Model.Any())
{
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    <partial name="_Feed.cshtml" model="Model" />

    <div class="col-12 mb-2 px-0">
        <button type="button" id="btnMorePosts" class="btn btn-lg btn-default btn-block" data-oldestid="@ViewData["OldestPostGuid"]" data-oldestdate="@ViewData["OldestPostDate"]">@SharedLocalizer["More Posts"]</button>
    </div>
}