@model IEnumerable<JobPositionViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "What? We have no job positions here! If you want to hire, add some positions!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Jobs"] : (string)ViewData["ListDescription"];
}

@if (!Model.Any())
{
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    <p>@SharedLocalizer[description]</p>

    @foreach (var jobPosition in Model)
    {
        <partial name="_ListItem" model="jobPosition" />
    }
}