@model TranslationProjectViewModel
@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/translation/translation.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/translation/translation.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="featurecontainer" class="col">
    <div id="containerdetails">
        <partial name="_CreateEdit" model="Model" />
    </div>
</div>