@model TranslationProjectViewModel
@{
    ViewData["Title"] = SharedLocalizer["Translate for {0}", Model.Game.Title];
    ViewData["Description"] = "tralala";
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "translation", new { area = "tools", id = Model.Id });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogwork.png";
    //ViewData["OgImageWidth"] = 1200;
    //ViewData["OgImageHeight"] = 630;
    Model.Game.Title = string.Empty;

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/translation.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/translation.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/translation/translationcommon.js"></script>
        <script src="~/js/translation/translationtranslate.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/translation/translationtranslate.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<input type="hidden" id="urls" value="urls"
       data-url-entry-save="@Url.Action("savetranslation", "translation", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-entries-get="@Url.Action("gettranslation", "translation", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-entries-save="@Url.Action("saveentries", "translation", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-avatar="https://res.cloudinary.com/indievisible/image/upload/f_auto,q_auto/v1/xpto/profileimage_xpto_Personal"/>

<section class="content container">
    <div id="featurecontainer" class="col">
        <partial name="_Translate" model="Model" />
    </div>
</section>