@model IEnumerable<ProfileViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "What? We have no users here!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Users"] : (string)ViewData["ListDescription"];
}

<div class="col-12">
    <h2>@SharedLocalizer[description]</h2>
</div>

@if (!Model.Any())
{
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    <div class="row user-list">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="translation-item box bg-light mb-4 hover">
                    <partial name="_ListItemUserProfile" model="item" />
                </div>
            </div>
        }
    </div>
}