@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = ViewData["Title"] ?? SharedLocalizer["help"].Value.ToUpper();
    ViewData["Description"] = String.Format("{0} - {1}", title, SharedLocalizer["Get help on how INDIEVISIBLE works. Learn how to interact with other users and how to use the platform."]);
}

@section Styles {
    <style>
        .help a {
            font-weight: bold;
        }
    </style>
}

<section class="content container">
    <h1 class="sr-only">@title</h1>

    <div class="row">
        <h2 class="text-capitalize">@ViewData["Title"]</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-9 p-4 box bg-white help">
                @RenderBody()
            </div>
            <div class="col-12 col-md-3">
                <partial name="_Navigation" />

                @RenderSection("SubPageContent", required: false)
            </div>
        </div>
    </div>
</section>