@{
    Layout = null;
}

<ul class="list-group text-capitalize">
    <li class="list-group-item shadow"><a asp-area="" asp-controller="help" asp-action="press">@SharedLocalizer["press"]</a></li>
    <li class="list-group-item shadow"><a asp-area="" asp-controller="help" asp-action="partners">@SharedLocalizer["partners"]</a></li>
    <li class="list-group-item shadow"><a asp-area="" asp-controller="help" asp-action="advertising">@SharedLocalizer["advertising"]</a></li>
    <li class="list-group-item shadow"><a asp-area="" asp-controller="help" asp-action="contributing">@SharedLocalizer["contributing"]</a></li>
</ul>