@{
    ViewData["Title"] = "What is IndieVisible?";
    ViewData["Description"] = SharedLocalizer["IndieVisible is social network dedicated to independend game developers, visual artists, sound artists and other professionals from the game industry."];
}

<div class="col-12 p-3 bg-white abouttext">
    <h1>@ViewData["Title"]</h1>

    <p>
        IndieVisible is social network dedicated to independend game developers, visual artists, sound artists and other professionals from the game industry.
        The goal is to create a safe, free, full of resources and features, community managed place to help freshers and experient game developers to achieve their goals and deliver great games to the world.
        We offer a centralized place for game industry people, where users can aggregate other gamedev communities and social networks while offering a set of tools and features that can add some value to the game dev community.
    </p>

    <h2>But there are already other communities</h2>

    <p>
        Yes, there is already great communities like <a href="https://gamejolt.com" target="_blank" rel="noopener noreferrer">GameJolt</a>, <a href="https://itch.io" target="_blank" rel="noopener noreferrer">Itch.io</a> and <a href="https://gamedev.net" target="_blank" rel="noopener noreferrer">Gamedev.net</a>, to name just a few. They are great and the intent of this project is not to replace them.
    </p>

    <p>
        While these other communities are great for games, they are "not so great" for the developers themselves. Of course, they have very useful features like jam management, game sales,
        managing versions and devlogs, but they lack more tools to improve the development process itself.
    </p>

    <p>
        The purpose of this community is to improve the collaboration bewteen independent game developers while providing links to other communities, centralizing them in a single place,
        while providing innovative tools like gamedev-oriented project management system and consolidating already consagrated tools like app icon generator and social sharing.
    </p>

    <p>
        One of our strenghts is the <a asp-area="" asp-controller="brainstorm" asp-action="index"><span class="font-weight-bold">Think</span></a> feature. A brainstorm management system where the community members are able to vote on the next feature to be implemented and discuss the feature and suggest improvements.
        The brainstorm system is present for user-generated content as well. Users can also post polls and have other users voting on their own questions like "Wich menu is better?"
        or "Should I hire a PR?", the users decide what they want to ask to the community. This is a common interaction on social networks and we will bring it here and improve it.
    </p>

    <p>
        The <a asp-area="" asp-controller="team" asp-action="index"><span class="font-weight-bold">Team Up!</span></a> feature is a great way to recruit members for your project and show to the community who worked on each game or game jam.
    </p>

    <p>
        Another innovation of this project is to give more voice to visual artists and music/sound creators. Everyone will have their place here.
    </p>

    <h2> The Name</h2>

    <p>
        The name <span class="font-weight-bold">IndieVisible</span> can be interpreted in two ways:
        <ul>
            <li>We are a INDIVISIBLE community.</li>
            <li>You are INDIE and want VISIBILITY.</li>
        </ul>
    </p>

    <p>
        The philosophy behind the name is that independent game developers should count on each other, help each other and keep working together to build visilibity.
    </p>

    <p>
        Possible mottos:
    </p>

    <ul>
        <li>Nothing can divide us by zero;</li>
        <li>We are singleton;</li>
        <li>Together we are stronger typed.</li>
    </ul>
</div>