@{
    Layout = "~/Views/Help/_HelpLayout.cshtml";
    ViewData["Title"] = SharedLocalizer["advertising"].Value.ToUpper();
}

<p>
    We don't have an advertising policy defined yet but if you want to advertise with us, send an email to <a href="mailto:programad@gmail.com">Daniel Gomes</a> and let's talk about it.
</p>

<p>
    If you want us to advertise on your website, you should consider becoming a partner instead.
</p>