
@{
    ViewData["Title"] = "Articles";
}

<div class="col-12 p-3 bg-white">
    <h1>@ViewData["Title"]</h1>

    <p>
        Articles are the most precious kind of content we have around here. They are created <span class="font-weight-bold">BY</span> the community <span class="font-weight-bold">FOR</span> the community itself.
        They are text in wich users put some effort to tell something relevant to the industry like news from other websites, studies, releases, tutorials and so much more!
    </p>

    <p>
        To be considered an article at IndieVisible, a content must have the following characteristics:
        <ul>
            <li>Have a title;</li>
            <li>Have an introduction;</li>
            <li>Have a featured image;</li>
            <li>Have at least 50 characters;</li>
        </ul>
    </p>

    <p>
        Articles can be written about specific games as well like reviews and case studies.
        To start composing an article, access the article writing feature on the upper-right corner menu by clicking on the asterisk symbol:
    </p>
    <div class="text-center">
        <img src="~/images/help/controlsidebar.jpg" alt="Quick actions menu" />
    </div>
    <p class="text-center">
        Inside the menu, click on "Post Content".
    </p>
    <br />
    <br />
    <p>
        Go on, start writing an article right now!
    </p>
</div>

