@{
    Layout = "~/Views/Help/_HelpLayout.cshtml";
    ViewData["Title"] = SharedLocalizer["contributing"].Value.ToUpper();
    ViewData["HelpActive"] = "contributing";
}

<section class="content container">
    <h2>Who can contribute</h2>

    <p>
        Anyone can contribute. Here are some examples of needed expertises:

        <ul>
            <li>Developers: Coding, refactoring, modeling;</li>
            <li>Webdesigners: prototyping pages, creating concepts, creating email templates;</li>
            <li>Visual Artists: Creating placeholders, standard images, icons, etc;</li>
            <li>Game designers: The gamefication of the system;</li>
            <li>Translators: Help keep the translations up to date as the system grows (<a href="https://poeditor.com/join/project/6iNVb5O0wN" target="_blank" rel="noopener noreferrer">check the translation project</a>);</li>
            <li>Idea guys: Yes, we need lots of ideas, innovative and humorous</li>
        </ul>

        Everyone can contribute since eachone can give ideas on how to promote their own art (code/2D/3D/sound/music) helping the system to become more useful for everyone.
    </p>

    <h2>How to contribute</h2>

    <p>
        You can visit our <a href="https://dev.azure.com/anteatergames/indievisible">Project Page</a> on Azure DevOps to read more and follow the progress and if you decide
        to join us, send an email to <a href="mailto:programad@gmail.com">Daniel Gomes</a>, the founder of the project.

        The code is opensource and is hosted on <a href="https://github.com/anteatergames/indievisible" target="_blank">GitHub</a>, meaning everyone can read and help improve or copy to themselves and maybe launch a better one.
    </p>

    <h2>About money</h2>

    <p>
        Today the platform is sponsored by the team alone. If you want to contribute you have two options:

        <div class="row">
            <div class="col-12 col-lg-7 offset-lg-2">
                <div class="row">
                    <div class="col-6">
                        <div class="flex-square clickable rectangle bg-green">
                            <div class="flex-square-inner">
                                <a href="https://apoia.se/indievisible" target="_blank" rel="noopener noreferrer">
                                    <div class="flex-square-inner-content text-white">
                                        <div><i class="fas fa-3x fa-dollar-sign" aria-hidden="true"></i></div>
                                        <div>apoia.se</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="flex-square clickable rectangle bg-patreon">
                            <div class="flex-square-inner">
                                <a href="https://www.patreon.com/anteatergames" target="_blank" rel="noopener noreferrer">
                                    <div class="flex-square-inner-content text-white">
                                        <div><i class="fab fa-3x fa-patreon" aria-hidden="true"></i></div>
                                        <div>patreon</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>
</section>