
@{
    Layout = "~/Views/Help/_HelpLayout.cshtml";
    ViewData["Title"] = SharedLocalizer["partners"].Value.ToUpper();
}

<p>
    These are our current partners:
</p>

<div class="list-group mb-3">
    <a href="https://www.mongodb.com/startup-accelerator" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between mb-3">
            <div class="col-12 text-center">
                <img src="~/images/partners/mongodbstartupaccelerator.png" alt="MongoDB" />
            </div>
        </div>
        <p class="mb-1">MongoDB is the leading NoSQL database system.</p>
        <small>IndieVisible is part of the MongoDB Startup Accelerator Program</small>
    </a>
</div>

<div class="list-group mb-3">
    <a href="https://mpgames.online" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between mb-3">
            <div class="col-12 text-center">
                <img src="~/images/partners/mpgames.png" alt="MPGAMES" />
            </div>
        </div>
        <p class="mb-1">MPGAMES, a great place for starting developers to host their games.</p>
        <small>Host your game and find more players to know your work.</small>
    </a>
</div>

<div class="mt-4">
    Want to be a partner? <span class="font-weight-bold"><a href="mailto:programad@gmail.com">Send us an email</a></span> and let's talk about it.
</div>