
@{
    Layout = "~/Views/Help/_HelpLayout.cshtml";
    ViewData["Title"] = SharedLocalizer["press"].Value.ToUpper();
}

<div class="col-12">
    <h2>Logo</h2>
</div>

<p>
    If you want to write something about us on your website or blog, feel free to use our logo. Please, do not alter the colors or positioning of the logo elements.
</p>

<div class="row text-center">
    <div class="col-12 col-md-6 mb-sm-3 mb-0 border">
        <h3>Square symbol</h3>
        <img src="~/images/icon1024.png" alt="Logo 1024" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 border">
            <h3>Full logo black</h3>
            <img src="~/images/logo360w.png" alt="Logo 360" class="img-fluid" />
        </div>
        <div class="col-12 mt-3 p-2 bg-black border">
            <h3>Full logo white</h3>
            <img src="~/images/logo100w.png" alt="Logo 100" class="img-fluid" />
        </div>
    </div>
</div>