#brainstormcontainer .btn {
    font-size: 15px;
}

.brainstorm-sessionlist ul {
    padding: 0;
    list-style: none;
}

.noitems .noitems-icon {
    transform: rotate(-20deg);
    color: lightgray;
}

.brainstorm-item {
    margin-top: 10px;
    padding: 10px;
    min-height: 140px;
    border-radius: 0.25rem;
}

    .brainstorm-item.list-item {
        border: 1px solid gray;
    }

    .brainstorm-item .brainstorm-panel {
        text-align: center;
        position: absolute;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        width: 50px;
        /*height: 110px;*/
        border-right: 1px solid #f7f7f7;
    }

        .brainstorm-item .brainstorm-panel * {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
        }

        .brainstorm-item .brainstorm-panel .brainstorm-icon {
            font-size: 2rem;
        }

            .brainstorm-item .brainstorm-panel .brainstorm-icon .brainstorm-button {
                border: 0;
                background: transparent;
            }

                .brainstorm-item .brainstorm-panel .brainstorm-icon .brainstorm-button:focus {
                    border: 0;
                    outline: none;
                }

                .brainstorm-item .brainstorm-panel .brainstorm-icon .brainstorm-button:active {
                    color: blue;
                }

            .brainstorm-item .brainstorm-panel .brainstorm-icon .brainstorm-up:hover {
                color: green;
            }

            .brainstorm-item .brainstorm-panel .brainstorm-icon .brainstorm-down:hover {
                color: red;
            }

    .brainstorm-item .brainstorm-details, .brainstorm-item .author-details {
        width: 100%;
        display: inline-block;
        padding-left: 50px;
    }

    .brainstorm-item .brainstorm-details {
        min-height: 110px;
    }

#brainstormsidebar .brainstorm-box {
    margin-top: 10px;
    border: 1px solid gray;
    min-height: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 0.25rem;
}