
.user-profile .avatar-wrapper {
    display: flex !important;
}

.widget-user-header {
    height: 200px !important;
}

.game-top-details {
    margin-top: 130px;
}

.overlay.dark {
    height: 200px !important;
}




.widget-game .widget-game-header {
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-game h1 {
    font-size: 21px;
}

.widget-game .widget-game-header .game-top-details h3 {
    margin: 0px;
}


.widget-game .widget-game-header .game-top-details a {
    color: white;
}


.widget-game .widget-game-title {
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.widget-game .widget-game-desc {
    margin-top: 0;
    margin-bottom: 0;
}

.widget-game .widget-game-image {
    text-align: center;
    margin-bottom: 15px;
}

    .widget-game .widget-game-image img {
        width: 90px;
        /* height: auto; */
    }

.box.widget-game .overlay {
    z-index: 50;
    border-radius: 0;
    padding: 20px;
}

    .box.widget-game .overlay.overlay-none {
        background: rgba(0, 0, 0, 0);
    }

.widget-game .box-footer {
    padding-top: 30px;
}

.widget-game .nav-tabs-custom {
    box-shadow: none;
}

.widget-game .box {
    box-shadow: none;
}


.game-info {
    padding: 30px 15px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}

    .game-info p {
        color: #999;
        font-size: small;
    }

    .game-info h5 {
        color: #666;
        margin-bottom: 25px;
    }

    .game-info .map-box {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .game-info .user-social-acount .btn {
        -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
        box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
    }
