.game-page .avatar-wrapper {
    background-color: #dedada;
}

.user-profile .avatar-wrapper {
    display: flex !important;
}

.game-top-details {
    color: white !important;
    text-shadow: 1px 1px black;
    margin-top: 130px;
}

.overlay.dark {
    height: 200px !important;
}



.box.widget-game {
    padding: 0;
    box-shadow: none;
}

.widget-game .widget-game-header {
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.widget-game h1 {
    font-size: 21px;
}

.widget-game .widget-game-header .game-top-details h3 {
    margin: 0;
}


.widget-game .widget-game-header .game-top-details a {
    color: white;
}


.widget-game .widget-game-title {
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.widget-game .widget-game-desc {
    margin-top: 0;
    margin-bottom: 0;
}

.widget-game .widget-game-image {
    text-align: center;
    margin-bottom: 15px;
}

    .widget-game .widget-game-image img {
        width: 90px;
    }

.box.widget-game .overlay {
    z-index: 50;
    border-radius: 3px 3px 0 0;
    padding: 20px;
}

    .box.widget-game .overlay.overlay-none {
        background: rgba(0, 0, 0, 0);
    }

.widget-game .box-footer {
    /*padding-top: 30px;*/
}

.widget-game .nav-tabs-custom {
    box-shadow: none;
}

.widget-game .box {
    /*box-shadow: none;*/
}

.widget-game-gametitle {
    margin: 0;
}


.game-info {
    padding: 30px 15px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

    .game-info p {
        color: #999;
        font-size: small;
    }

    .game-info h5 {
        color: #666;
        margin-bottom: 25px;
    }

    .game-info .map-box {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .game-info .user-social-acount .btn {
        -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
        box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
    }

.game-external-links {
    margin-top: -24px;
}


@media (max-width: 575px) {
    .box.widget-game .overlay, .widget-game .widget-game-header {
        border-radius: 0;
    }
}
