.commentmodal .modal-body {
    height: 58px;
}

.commentmodal {
    position: relative;
    width: 100%;
    /*min-height: 160px;*/
}

    .commentmodal .modal-header, .commentmodal .modal-body, .commentmodal .modal-footer {
        padding: 10px !important;
    }

    .commentmodal .modal {
        padding: 0px;
        padding-right: 0 !important;
        position: absolute !important;
        overflow: hidden;
    }

    .commentmodal .modal-dialog {
        width: 100%;
        max-width: none;
        margin: 0px;
    }

        .commentmodal .modal-dialog .modal-content {
            box-shadow: none;
        }

            .commentmodal .modal-dialog .modal-content .modal-header .close {
                display: none;
            }

            .commentmodal .modal-dialog .modal-content .modal-footer {
                border: 0px;
            }

.modal-backdrop {
    top: 0 !important;
    border-radius: 0;
}

.commentmodal .btn.btn-vertical-align i {
    font-size: 20px;
    vertical-align: middle;
}

.dropzone {
    margin-top: 10px;
    display: none;
    border: 1px dashed rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px;
    background: white
}

    .dropzone .dz-message {
        font-weight: 400;
    }

#divPostPoll {
    color: #495057;
    margin-top: 10px;
    display: none;
    min-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

    #divPostPoll input {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #divPostPoll .input-group-append .btn-image-add {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        #divPostPoll .input-group-append .btn-image-add:hover {
            color: black;
            box-shadow: none !important;
        }

    #divPostPoll .btn-option-remove {
        margin-left: 5px;
        color: #495057;
    }

        #divPostPoll .btn-option-remove:hover {
            color: black;
            box-shadow: none !important;
        }

    #divPostPoll #btnAddOption {
        color: #495057;
    }

        #divPostPoll #btnAddOption:hover {
            color: black;
            box-shadow: none !important;
        }

input::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #c7c7c7;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}

input:focus:-moz-placeholder {
    color: #c7c7c7;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder {
    color: #c7c7c7;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder {
    color: #c7c7c7;
}