/*login-box*/
.login-box-body, .profile-user-img, .register-box-body {
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

    .login-logo a, .register-logo a {
        color: #fff;
    }

.login-page, .register-page, .login-register-page {
    background: url(../images/login-register.jpg) center center no-repeat #d2d6de;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.login-box {
    width: 360px;
    margin: 1% auto;
}

.register-box {
    width: 360px;
    margin: 1% auto;
}

    .register-box .form-group {
        margin-bottom: 10px;
    }

.login-box .fog-pwd {
    position: relative;
    margin-bottom: 10px;
}

    .login-box .fog-pwd i {
        position: relative;
        padding-right: 15px;
    }


@media (max-width:768px) {
    .login-box, .register-box {
        width: 90%;
        margin-top: 20px;
    }

    .login-page, .register-page {
        position: relative;
        background-size: inherit;
    }
}

.login-box-body, .register-box-body {
    background: rgba(255, 255, 255, .9);
    padding: 20px 20px 10px;
    border-top: 0;
    color: #666;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
}

    .login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
        color: #777;
        line-height: 35px;
    }

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px;
}

.social-auth-links {
    margin: 10px 0;
}


.register-page .form-control-feedback, .login-page .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
