button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

@media (max-width: 575px) {
    .container {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    section.content > div, div.carousel, div.carousel-inner, #divActivityFeed div.box {
        border-radius: 0px !important;
    }

    div.avatar-wrapper {
        border-radius: 50% !important;
    }
}

.form-control {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.573rem;
    -webkit-transition: -webkit-box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
    -o-transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
    transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
    border-color: #e0e0e0;
    -webkit-box-shadow: none;
    box-shadow: none;*/
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
}

select.form-control {
    padding-right: 30px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAFCAYAAABB9hwOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpiNWZkMzNlMC0zNTcxLTI4NDgtYjA3NC01ZTRhN2RjMWVmNjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTUxRUI3MDdEQjk4MTFFNUI1NDA5QTcyNTlFQzRERTYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTUxRUI3MDZEQjk4MTFFNUI1NDA5QTcyNTlFQzRERTYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6ZWNiNjQzMjYtNDc1Yi01OTQxLWIxYjItNDVkZjU5YjZlODA2IiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6N2RlYzI2YWMtZGI5OC0xMWU1LWIwMjgtY2ZhNDhhOGNjNWY1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+AXTIGgAAAFRJREFUeNpidI1KSWFgYDBlwASngXjOrqWzGcgBTEC8DIjfo4m/h4qTDUAGfwPi+UD8Hyr2H8r/RqnBIHATiPdC2XuhfIoACxJ7PRDzQmmKAUCAAQDxOxHyb4DjOAAAAABJRU5ErkJggg==) no-repeat center right;
}

.commenttextarea, .posttextarea {
    border-radius: 5px !important;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    padding-right: 35px;
}

.feed .flex-square .flex-square-inner-content {
    bottom: auto;
}

.feed .box-content .box-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.feed .box-content .bottomcontent {
    border-radius: 0;
}

.feed .box-content .box-body {
    border-radius: 0;
}

.box-comments .box-comment img, .img-lg, .img-md, .img-sm, .user-block.user-block-sm img {
    float: left;
}

.box-comments .box-comment img, .img-sm, .user-block.user-block-sm img {
    width: 38px !important;
    height: 38px !important;
}

.box-game {
    padding: 0 !important;
}

    .box-game .card-img-top {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

.noitems-icon {
    color: lightgray;
}

#divHeaderSearch {
    height: 50px;
    padding: 7px;
}

.hashtag {
    font-weight: 500;
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

    .blur-up.lazyloaded {
        -webkit-filter: blur(0);
        filter: blur(0);
    }


.btn-benefit-icon {
    position: relative;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 48px;
    width: 48px;
    padding: 0;
}

    .btn-benefit-icon > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        line-height: 48px;
        border: none;
        text-align: center;
        width: 100%
    }

.btn-benefit-icon-sm {
    position: relative;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 32px;
    width: 32px;
    padding: 0;
}

    .btn-benefit-icon-sm > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        line-height: 32px;
        border: none;
        text-align: center;
        width: 100%
    }

.tilt-20 {
    transform: rotate(-20deg);
}