.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}



ul.poll {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}


    ul.poll li {
        display: block;
        border: solid 1px #ddd;
        margin-bottom: 10px;
        position: relative;
        padding: 5px;
        height: 35px;
        z-index: 3;
    }

        ul.poll li .perc-back {
            background: #d2dfe5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0%;
            z-index: -1;
        }

    ul.poll input {
        display: none;
    }

    ul.poll label {
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        margin: 0;
    }

        ul.poll label span {
            position: absolute;
            top: 7px;
            left: 35px;
        }

        ul.poll label:before {
            content: url('../images/controls/poll-radio-off.png');
            overflow: hidden;
            display: inline-block;
            margin-right: 10px;
            margin-top: 2px;
            margin-left: 2px;
            margin-bottom: -1px;
        }

    ul.poll input[type=radio]:checked + label:before,
    ul.poll input[type=checkbox]:checked + label:before {
        content: url('../images/controls/poll-radio-on.png');
        margin-bottom: -3px;
        margin-right: 8px;
    }

    ul.poll li.voted label:before {
        content: url('../images/controls/poll-voted.png');
        margin-bottom: -5px;
        margin-right: 6px;
    }

    ul.poll li.voted input[type=radio]:checked + label:before,
    ul.poll li.voted input[type=checkbox]:checked + label:before {
        content: url('../images/controls/poll-voted.png');
        /*margin-top: 0;
        margin-left: 0;
        margin-bottom: -5px;
        margin-right: 6px;*/
    }

    ul.poll .perc-number {
        float: right;
    }
