ul.poll {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}


    ul.poll li {
        display: block;
        border: solid 1px #ddd;
        margin-bottom: 10px;
        position: relative;
        padding: 5px;
        height: 35px;
        z-index: 3;
    }

        ul.poll li .perc-back {
            background: #d2dfe5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0%;
            z-index: -1;
        }

    ul.poll input {
        display: none;
    }

    ul.poll label {
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        margin: 0;
    }

        ul.poll label span {
            position: absolute;
            top: 7px;
            left: 35px;
        }

        ul.poll label:before {
            content: url('../images/controls/poll-radio-off.png');
            overflow: hidden;
            display: inline-block;
            margin-right: 10px;
            margin-top: 2px;
            margin-left: 2px;
            margin-bottom: -1px;
        }

    ul.poll input[type=radio]:checked + label:before,
    ul.poll input[type=checkbox]:checked + label:before {
        content: url('../images/controls/poll-radio-on.png');
        margin-bottom: -3px;
        margin-right: 8px;
    }

    ul.poll li.voted label:before {
        content: url('../images/controls/poll-voted.png');
        margin-bottom: -5px;
        margin-right: 6px;
    }

    ul.poll li.voted input[type=radio]:checked + label:before,
    ul.poll li.voted input[type=checkbox]:checked + label:before {
        content: url('../images/controls/poll-voted.png');
        /*margin-top: 0;
        margin-left: 0;
        margin-bottom: -5px;
        margin-right: 6px;*/
    }

    ul.poll .perc-number {
        float: right;
    }
