.widget-ranking {
    height: 120px;
    padding: 0;
}

    .widget-ranking.box {
        background: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


        .widget-ranking.box .box-body {
            background: white;
            height: 100%;
            margin-left: 60px;
            border-radius: 5px;
            padding: 0;
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        }


            .widget-ranking.box .box-body .row {
                margin-left: 50px;
            }

    .widget-ranking .widget-user-image {
        position: absolute;
    }

        .widget-ranking .widget-user-image img {
            width: 120px;
            height: auto;
            border: 3px solid #fff;
            background-color: white;
        }

.info-box {
    padding: 2px 10px 0 10px;
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

    .info-box .info-box-text {
        text-transform: uppercase;
        text-overflow: ellipsis;
    }

.info-box-content {
    margin-left: 70px;
}

.info-box-icon {
    float: left;
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 30px;
    line-height: 64px;
    background: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

.info-box-number {
    font-weight: 300;
    font-size: 21px;
}

.info-box-icon.push-bottom {
    margin: 0;
}

.info-box .progress {
    background: rgba(0, 0, 0, .2);
    height: 20px;
}
