.feature-details {
    padding: 0 !important;
}

.translation-item .box-body {
    padding: 0;
}

.translation-progress-chart {
    margin-top: -40px;
}

.translation-entry-actions {
}

@media (max-width: 767px) {
    .border-right, .border-left {
        border: 0 !important;
    }
}

#divTranslationSelector {
    z-index: 51 !important;
    border-radius: 0;
}
