@{
    var games = ViewBag.Games as List<GameListItemViewModel>;
    var genre = (GameGenre)(ViewData["Genre"] ?? 0);
    ViewData["Title"] = genre == 0 ? SharedLocalizer["Games"] : SharedLocalizer["{0} Games", genre.ToUiInfo().Display];
    ViewData["Description"] = SharedLocalizer["Check awesome {0} Games. If this is the type of game you like, you are in the right place!", genre.ToString()];

    var noItems = new ListNoItemsViewModel("fas fa-dizzy", "No results to show!");
}

<div class="col-12">
    <h1>@ViewData["Title"] (@games.Count)</h1>
</div>

@if (games.Any())
{
    @await Html.PartialAsync("_Games", games)
}
else
{
    <div class="col-12">
        <partial name="_ListNoItems" model="noItems" />
    </div>
}


<div class="col-12 no-gutters">
    <partial name="_TagList" model="@ViewData["Genres"]" />
</div>