@{
    var model = ViewBag.Games as List<GameListItemViewModel>;
    var genre = (GameGenre)(ViewData["Genre"] ?? 0);
    ViewData["Title"] = genre == 0 ? SharedLocalizer["Games"] : SharedLocalizer["{0} Games", genre.ToString()];
    ViewData["Description"] = SharedLocalizer["Check awesome {0} Games. If this is the type of game you like, you are in the right place!", genre.ToString()];
}

<h1>@ViewData["Title"]</h1>

<div class="col-12 d-none d-lg-block">
    @await Html.PartialAsync("_TagList")
</div>

@if (model.Any())
{
    @await Html.PartialAsync("_Games", model)
}
else
{
    <span>@SharedLocalizer["No results to show"]</span>
}