@{
    var model = ViewBag.Games as List<GameListItemViewModel>;
}

<h1>@ViewData["Title"]</h1>

<div class="col-12 d-none d-lg-block">
    @await Html.PartialAsync("_TagList")
</div>

@if (model.Any())
{
    @await Html.PartialAsync("_Games", model)
}
else
{
    <span>@SharedLocalizer["No results to show"]</span>
}