@{ 
    Layout = null;
}
<div class="box box-widget">
    <div class="box-header with-border">
        <div class="user-block">
            <img class="rounded" src="~/images/profileimages/developer.png" alt="User Image">
            <span class="username"><a href="#">John Doe</a></span>
            <span class="description">Shared publicly - 8:30 AM Today</span>
        </div>
        <!-- /.user-block -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <img class="img-fluid pad" src="~/images/wallpapers/halo.jpg" alt="Photo">

        <p>This game made my childhood</p>
        <button type="button" class="btn btn-default btn-sm bg-blue-active"><i class="fa fa-share"></i> Share</button>
        <button type="button" class="btn btn-default btn-sm bg-green-active"><i class="fa fa-thumbs-up"></i> Like</button>
        <span class="pull-right text-muted">15 likes - 2 comments</span>
    </div>
    <!-- /.box-body -->
    <div class="box-footer box-comments">
        <div class="box-comment">
            <!-- User image -->
            <img class="rounded img-sm" src="~/images/profileimages/fakedeveloper5.jpg" alt="User Image">

            <div class="comment-text">
                <span class="username">
                    Ruhi Doe
                    <span class="text-muted pull-right">1:03 AM Today</span>
                </span><!-- /.username -->
                Mine too!
            </div>
            <!-- /.comment-text -->
        </div>
        <!-- /.box-comment -->
        <div class="box-comment">
            <!-- User image -->
            <img class="rounded img-sm" src="/images/profileimages/fakedeveloper6.jpg" alt="User Image">

            <div class="comment-text">
                <span class="username">
                    Amayra Lusi
                    <span class="text-muted pull-right">11:03 PM Today</span>
                </span><!-- /.username -->
                LOL, I could never play that.
            </div>
            <!-- /.comment-text -->
        </div>
        <!-- /.box-comment -->
    </div>
    <!-- /.box-footer -->
    <div class="box-footer">
        <form action="#" method="post">
            <img class="img-fluid rounded img-sm" src="/images/profileimages/fakedeveloper6.jpg" alt="Alt Text">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
            </div>
        </form>
    </div>
    <!-- /.box-footer -->
</div>