@model ListNoItemsViewModel

<div class="text-center p-5 bg-white @(String.IsNullOrWhiteSpace(Model.MainClass) ? "noitems" : Model.MainClass)">
    <i class="fa-8x @Model.Icon noitems-icon" aria-hidden="true"></i>
    <div class="mt-4">
        <h4>@SharedLocalizer[Model.Text]</h4>
    </div>
</div>