<!-- Messages-->
<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope"></i>
    </a>
    <ul class="dropdown-menu scale-up">
        <li class="header">You have 5 messages</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu inner-content-div">
                <li>
                    <!-- start message -->
                    <a href="#">
                        <div class="left-float">
                            <img src="/images/profileimages/fakedeveloper4.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="mail-contnet">
                            <h4>
                                Carl Sagan
                                <small><i class="fa fa-clock-o"></i> 15 mins</small>
                            </h4>
                            <span>Hey, man, join my team!</span>
                        </div>
                    </a>
                </li>
                <!-- end message -->
                <li>
                    <a href="#">
                        <div class="left-float">
                            <img src="~/images/profileimages/fakedeveloper5.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="mail-contnet">
                            <h4>
                                Nikola Tesla
                                <small><i class="fa fa-clock-o"></i> 4 hours</small>
                            </h4>
                            <span>Yo! Nice game you just launched!</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left-float">
                            <img src="~/images/profileimages/fakedeveloper4.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="mail-contnet">
                            <h4>
                                Albert Einstein
                                <small><i class="fa fa-clock-o"></i> Today</small>
                            </h4>
                            <span>Meh</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left-float">
                            <img src="~/images/profileimages/fakedeveloper5.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="mail-contnet">
                            <h4>
                                Enki
                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                            </h4>
                            <span>LOL, nice move.</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left-float">
                            <img src="/images/profileimages/fakedeveloper6.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="mail-contnet">
                            <h4>
                                Dante
                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                            </h4>
                            <span>I don't care!</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer"><a href="#">See all messages</a></li>
    </ul>
</li>