<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
        @ViewData["Title"]
    </h1>*@
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard" aria-hidden="true"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Examples</a></li>
        <li class="breadcrumb-item active">Blank page</li>
    </ol>
</section>