@using System.Collections;
@using System.Collections.Specialized;
@{
    var items = (Dictionary<GameGenre, UiInfoAttribute>)ViewData["Genres"];
}

<div class="col text-center d-flex flex-wrap">
    @if (items != null)
    {
        foreach (var item in items)
        {
            <a asp-area="" asp-controller="game" asp-action="list" asp-route-genre="@item.Key" class="flex-fill m-1 btn btn-lg tag bg-@item.Value.Class">@SharedLocalizer[item.Value.Display]</a>
        }
    }
</div>