@using System.Collections;
@using System.Collections.Specialized;
@{
    var items = (Dictionary<string, string>)ViewData["Genres"];
}
<div class="col text-center">
    @if (items != null)
    {
        foreach (var item in items)
        {
            <a asp-area="" asp-controller="game" asp-action="list" asp-route-genre="@item.Key" class="btn btn-default btn-lg flex-grow-1 tag bg-@item.Value">@SharedLocalizer[item.Key]</a>
        }
    }
</div>