@model List<GameListItemViewModel>

@{
    bool userFiltered = ((Guid)ViewData["UserId"]) != Guid.Empty;
}

@if (!Model.Any())
{
    <div class="box box-widget box-content p-0 bg-white">
        <div class="box-body">
            <div class="text-center mt-2 p-5">
                <i class="fa-10x fas fa-exclamation-triangle" aria-hidden="true"></i>
                <div class="mt-3">
                    <h3>@SharedLocalizer["Nothing to see here, yet."]</h3>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @foreach (var game in Model)
    {
        <div class="box box-game bg-white">
            <partial name="~/Views/Shared/_GameCard.cshtml" model="game" />
        </div>
    }

    @if (!userFiltered)
    {
        <div class="col-12 mb-2 px-0">
            <a asp-area="" asp-controller="games" asp-action="index" class="btn btn-lg btn-default btn-block">@SharedLocalizer["More Games"]</a>
        </div>
    }
}