@{
    ViewData["Title"] = "User Content Management";
}
<div class="col-12">
    <h2>@ViewData["Title"]</h2>
</div>

<div id="divListFeatured" class="col-12 bg-white">
</div>

@section Scripts{
    <script src="~/js/staff/featurecontent.js"></script>
}