@model IndieVisible.Application.ViewModels.Brainstorm.BrainstormSessionViewModel

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form id="frmBrainstormSessionSave" asp-controller="brainstorm" asp-action="savesession" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <h6 class="card-subtitle">
                        @SharedLocalizer["Speak your mind"]
                    </h6>
                </div>
                <!-- /.box-header -->
                <div class="box-body p-0 p-md-10">
                    <div class="form-group">
                        <label asp-for="Title" class="col-form-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <textarea asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="text-right">
                        <a asp-area="" asp-controller="brainstorm" asp-action="index" class="btn btn-lg btn-default btn-circle"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        <button type="button" id="btnPostBrainstormSession" class="btn btn-lg btn-primary"><i class="fa fa-save" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Save"]</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
