@model IEnumerable<IndieVisible.Application.ViewModels.Gamification.UserBadgeViewModel>
@{
    Layout = null;
}
@if (!Model.Any())
{
    <span>@SharedLocalizer["No badges yet."]</span>
}
else
{
    foreach (var badge in Model)
    {
        <div class="badge-wrapper">
            <img class="badge-icon" src="~/images/badges/@(badge.Badge.ToString()).png" alt="@(badge.Badge.ToString()) Badge" data-toggle="tooltip" title="@badge.Badge" data-placement="bottom" />
        </div>
    }
}
