@model IEnumerable<StudyCourseListItemVo>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "What? You don't have Courses!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["courses"] : (string)ViewData["ListDescription"];
}

<div class="col-12">
    <h2>@SharedLocalizer[description]</h2>
</div>

<div class="mt-3">
    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 col-lg-4 col-xl-3">
                    <partial name="_CourseCard" model="item" view-data="ViewData" />
                </div>
            }
        </div>
    }
</div>
