/*
    primary #E0E0E2
    accent #7389AE
    highlight #81D2C7
    shade #B5BAD0
    dark background #416788

*/

a {
    color: #111;
}

.bordered {
    border: 1px solid #89ad87;
}

    .bordered:hover {
        border: 1px solid #00ff21;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

.filled-stars {
    color: #416788 !important;
}

.bg-primary {
    background-color: #E0E0E2 !important;
    color: white;
}

    .bg-primary:hover {
        background-color: #B5BAD0 !important;
        color: #7389AE;
    }

.bg-label {
    background-color: #416788 !important;
    color: white;
    border: 1px solid #B5BAD0 !important;
}

    .bg-label:hover {
        background-color: #416788 !important;
        color: #ffbf36;
        border: 1px solid #B5BAD0 !important;
    }

.skin-indievisible .col-form-label {
    color: #7389AE;
    font-size: 13px;
    font-weight: 600;
}

.skin-indievisible .main-header .navbar {
    background-color: #242a33;
}

    .skin-indievisible .main-header .navbar .nav > li > a {
        color: white;
    }

        .skin-indievisible .main-header .navbar .nav > li > a:hover,
        .skin-indievisible .main-header .navbar .nav > li > a:active,
        .skin-indievisible .main-header .navbar .nav > li > a:focus,
        .skin-indievisible .main-header .navbar .nav .open > a,
        .skin-indievisible .main-header .navbar .nav .open > a:hover,
        .skin-indievisible .main-header .navbar .nav .open > a:focus,
        .skin-indievisible .main-header .navbar .nav > .active > a {
            background: rgba(0, 0, 0, 0.1);
            color: #666666;
        }

    .skin-indievisible .main-header .navbar .sidebar-toggle {
        color: white;
    }

        .skin-indievisible .main-header .navbar .sidebar-toggle:hover {
            color: white;
            background-color: transparent;
        }

.skin-indievisible .box-header > .box-tools .dropdown-menu {
    background-color: #eafff7;
    border: 1px solid gray;
}

    .skin-indievisible .box-header > .box-tools .dropdown-menu a:hover {
        background-color: #0092ee !important;
    }

@media (max-width: 767px) {
    .skin-indievisible .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-indievisible .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

        .skin-indievisible .main-header .navbar .dropdown-menu li a:hover {
            background: #313131;
        }
}

.skin-indievisible .main-header .logo {
    background-color: #242a33;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

    .skin-indievisible .main-header .logo:hover {
        background-color: #242a33;
    }

.skin-indievisible .main-header li.user-header {
    background-color: #fff;
}

.skin-indievisible .content-header {
    background: #f2f6f8;
}

.skin-indievisible .wrapper,
.skin-indievisible .main-sidebar,
.skin-indievisible .left-side {
    background-color: #dedada;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}

.skin-indievisible .main-sidebar {
    background-color: #242a33;
}

.skin-indievisible .user-panel .info,
.skin-indievisible .user-panel .info > a {
    color: #fff;
}

.skin-indievisible .sidebar-menu > li.header {
    color: #333;
    background: #fff;
}

.skin-indievisible .sidebar-menu > li > a {
    border-left: none;
}

.skin-indievisible .sidebar-menu > li:hover > a {
    color: #ffffff;
    background: rgba(0,0,0,0.1);
}

.skin-indievisible .sidebar-menu > li.active > a,
.skin-indievisible .sidebar-menu > li.menu-open > a {
    color: #ffffff;
}

.skin-indievisible .sidebar-menu > li.active > a {
    border-left-color: #232323;
}

.skin-indievisible .sidebar-form {
    border-radius: 3px;
    border: 1px solid #898989;
}

    .skin-indievisible .sidebar-form input[type="text"],
    .skin-indievisible .sidebar-form .btn {
        box-shadow: none;
        background-color: #242a33;
        border: 1px solid #242a33;
        height: 35px;
    }

    .skin-indievisible .sidebar-form input[type="text"] {
        color: #fff;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
    }

        .skin-indievisible .sidebar-form input[type="text"]:focus,
        .skin-indievisible .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
            color: #fff;
        }

    .skin-indievisible .sidebar-form .btn {
        color: #898989;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0;
    }

.skin-indievisible .search-form input[type="text"], .skin-indievisible .search-form .input-group-text {
    background-color: #242a33;
    border: 1px solid #242a33;
}

.skin-indievisible .search-form input[type="text"],
.skin-indievisible .search-form .btn {
    box-shadow: none;
    height: 35px;
    border: none;
    border-radius: 0;
}

    .skin-indievisible .search-form input[type="text"]:hover {
        border-bottom: 2px solid gray;
        margin-top: 1px;
    }

    .skin-indievisible .search-form input[type="text"]:focus {
        color: #fff;
    }

        .skin-indievisible .search-form input[type="text"]:focus,
        .skin-indievisible .search-form input[type="text"]:focus + .input-group-btn .btn {
            border-bottom: 2px solid #ffbf36;
            margin-top: 1px;
        }

.skin-indievisible .btn-blue {
    background-color: #232323;
    color: #fff;
    border: 1px solid #232323;
}

    .skin-indievisible .btn-blue:hover {
        background-color: #fff;
        color: #232323;
    }

.skin-indievisible .main-header .messages-menu .dropdown-toggle i::after, .skin-indievisible .main-header .notifications-menu .dropdown-toggle i::after, .skin-indievisible .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;
}

.sidebar > .user-panel > .info a {
    color: #ffffff
}

.alert-danger, .alert-error, .alert-info, .alert-success, .alert-warning, .bg-aqua, .bg-aqua-active, .bg-black, .bg-black-active, .bg-blue, .bg-blue-active, .bg-fuchsia, .bg-fuchsia-active, .bg-green, .bg-green-active, .bg-light-blue, .bg-light-blue-active, .bg-lime, .bg-lime-active, .bg-maroon, .bg-maroon-active, .bg-navy, .bg-navy-active, .bg-olive, .bg-olive-active, .bg-orange, .bg-orange-active, .bg-purple, .bg-purple-active, .bg-red, .bg-red-active, .bg-teal, .bg-teal-active, .bg-yellow, .bg-yellow-active, .label-danger, .label-info, .label-primary, .label-success, .label-warning, .modal-danger .modal-body, .modal-danger .modal-footer, .modal-danger .modal-header, .modal-info .modal-body, .modal-info .modal-footer, .modal-info .modal-header, .modal-primary .modal-body, .modal-primary .modal-footer, .modal-primary .modal-header, .modal-success .modal-body, .modal-success .modal-footer, .modal-success .modal-header, .modal-warning .modal-body, .modal-warning .modal-footer, .modal-warning .modal-header {
    color: #fff !important;
}

/*color Skin*/
.bg-gray {
    color: #000;
    background-color: #d2d6de;
}

.bg-gray-light {
    background-color: #f7f7f7;
}

.bg-black, .bg-inverse {
    background-color: #111;
}

.alert-danger, .alert-error, .bg-danger, .bg-red, .label-danger, .modal-danger .modal-body {
    background-color: #f83f37 !important;
}

.alert-warning, .bg-warning, .bg-yellow, .label-warning, .modal-warning .modal-body {
    background-color: #ffbf36 !important;
}

.alert-info, .bg-aqua, .bg-info, .label-info, .modal-info .modal-body {
    background-color: #0092ee !important;
}

.bg-blue {
    background-color: #45aef1;
}

.bg-info, .bg-primary, .bg-success, .bg-danger, .bg-warning {
    color: #ffffff;
}

.bg-light-blue, .bg-primary, .label-primary, .modal-primary .modal-body {
    background-color: #45aef1 !important;
}

.alert-success, .bg-green, .bg-success, .label-success, .modal-success .modal-body {
    background-color: #22af47 !important;
}

.bg-navy {
    background-color: #001f3f;
}

.bg-teal {
    background-color: #39cccc;
}

.bg-olive {
    background-color: #7dab2e;
}

.bg-lime {
    background-color: #01ff70;
}

.bg-orange {
    background-color: #89ad87;
}

.bg-fuchsia {
    background-color: #f012be;
}

.bg-purple {
    background-color: #ab26aa;
}

.bg-maroon {
    background-color: #8C1919;
}

.bg-gray-active {
    color: #000;
    background-color: #b5bbc8;
}

.bg-black-active {
    background-color: #000;
}

.bg-red-active, .modal-danger .modal-footer, .modal-danger .modal-header {
    background-color: #dc2d27;
}

.bg-yellow-active, .modal-warning .modal-footer, .modal-warning .modal-header {
    background-color: #e4a827;
}

.bg-aqua-active, .modal-info .modal-footer, .modal-info .modal-header {
    background-color: #007ac7;
}

.bg-blue-active {
    background-color: #2f88d6;
}

.bg-light-blue-active, .modal-primary .modal-footer, .modal-primary .modal-header {
    background-color: #25a4f4;
}

.bg-green-active, .modal-success .modal-footer, .modal-success .modal-header {
    background-color: #1a943b;
}

.bg-navy-active {
    background-color: #001a35;
}

.bg-teal-active {
    background-color: #30bbbb;
}

.bg-olive-active {
    background-color: #61881f;
}

.bg-lime-active {
    background-color: #00e765;
}

.bg-orange-active {
    background-color: #d84d1d;
}

.bg-fuchsia-active {
    background-color: #db0ead;
}

.bg-purple-active {
    background-color: #7d157d;
}

.bg-maroon-active {
    background-color: #7e1616;
}

.text-danger, .text-red {
    color: #f83f37;
}

.text-white {
    color: #fff;
}

.text-warning, .text-yellow {
    color: #ffbf36;
}

.text-aqua, .text-info {
    color: #0092ee;
}

.text-blue {
    color: #45aef1;
}

.text-light-blue {
    color: #45aef1;
}

.text-green, .text-success {
    color: #22af47;
}

.text-orange {
    color: #89ad87;
}


.badge-status {
    color: white;
}

    .badge-status.badge-proposed, .badge-status.badge-draft {
        background-color: #9488AD;
    }

    .badge-status.badge-inanalysis, {
        background-color: #BFA200;
    }

    .badge-status.badge-accepted, .badge-status.badge-fulfilled {
        background-color: #4582FC;
    }

    .badge-status.badge-rejected, .badge-status.badge-closedforapplication, .badge-status.badge-cancelled {
        background-color: #FB5012;
    }

    .badge-status.badge-implemented, .badge-status.badge-openforapplication {
        background-color: #01921f;
    }