.skin-indievisible .main-header .navbar {
    background-color: #242a33;
}

    .skin-indievisible .main-header .navbar .nav > li > a {
        color: white;
    }

        .skin-indievisible .main-header .navbar .nav > li > a:hover,
        .skin-indievisible .main-header .navbar .nav > li > a:active,
        .skin-indievisible .main-header .navbar .nav > li > a:focus,
        .skin-indievisible .main-header .navbar .nav .open > a,
        .skin-indievisible .main-header .navbar .nav .open > a:hover,
        .skin-indievisible .main-header .navbar .nav .open > a:focus,
        .skin-indievisible .main-header .navbar .nav > .active > a {
            background: rgba(0, 0, 0, 0.1);
            color: #666666;
        }

    .skin-indievisible .main-header .navbar .sidebar-toggle {
        color: white;
    }

        .skin-indievisible .main-header .navbar .sidebar-toggle:hover {
            color: white;
            background-color: transparent;
        }

@media (max-width: 767px) {
    .skin-indievisible .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-indievisible .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

        .skin-indievisible .main-header .navbar .dropdown-menu li a:hover {
            background: #313131;
        }
}

.skin-indievisible .main-header .logo {
    background-color: #242a33;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

    .skin-indievisible .main-header .logo:hover {
        background-color: #242a33;
    }

.skin-indievisible .main-header li.user-header {
    background-color: #fff;
}

.skin-indievisible .content-header {
    background: #f2f6f8;
}

.skin-indievisible .wrapper,
.skin-indievisible .main-sidebar,
.skin-indievisible .left-side {
    background-color: #dedada;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}

.skin-indievisible .main-sidebar {
    background-color: #242a33;
}

.skin-indievisible .user-panel .info,
.skin-indievisible .user-panel .info > a {
    color: #fff;
}

.skin-indievisible .sidebar-menu > li.header {
    color: #333;
    background: #fff;
}

.skin-indievisible .sidebar-menu > li > a {
    border-left: none;
}

.skin-indievisible .sidebar-menu > li:hover > a {
    color: #ffffff;
    background: rgba(0,0,0,0.1);
}

.skin-indievisible .sidebar-menu > li.active > a,
.skin-indievisible .sidebar-menu > li.menu-open > a {
    color: #ffffff;
}

.skin-indievisible .sidebar-menu > li.active > a {
    border-left-color: #232323;
}

.skin-indievisible .sidebar-form {
    border-radius: 3px;
    border: 1px solid #898989;
}

    .skin-indievisible .sidebar-form input[type="text"],
    .skin-indievisible .sidebar-form .btn {
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.59);
        border: 1px solid rgba(0, 0, 0, 0.59);
        height: 35px;
    }

    .skin-indievisible .sidebar-form input[type="text"] {
        color: #fff;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
    }

        .skin-indievisible .sidebar-form input[type="text"]:focus,
        .skin-indievisible .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
            color: #fff;
        }

    .skin-indievisible .sidebar-form .btn {
        color: #f7f7f7;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0;
    }

.skin-indievisible .btn-blue {
    background-color: #232323;
    color: #fff;
    border: 1px solid #232323;
}

    .skin-indievisible .btn-blue:hover {
        background-color: #fff;
        color: #232323;
    }

.skin-indievisible .main-header .messages-menu .dropdown-toggle i::after, .skin-indievisible .main-header .notifications-menu .dropdown-toggle i::after, .skin-indievisible .main-header .tasks-menu .dropdown-toggle i::after {
    border-color: #ffffff;
}

.sidebar > .user-panel > .info a {
    color: #ffffff
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.59);
    color: white;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 0px;
    border-radius: 0;
}

    .carousel-caption p {
        text-overflow: ellipsis;
    }

    .carousel-caption a {
        color: white;
    }

.gamebox-description, .gamebox-description-text {
    display: block;
}

    .gamebox-description .img-sm {
        width: 30px !important;
        height: 30px !important;
    }

    .gamebox-description .gamebox-description-number, .gamebox-description .gamebox-description-text {
        margin-left: 10px;
    }

    .gamebox-description .gamebox-description-number {
        font-size: 16px;
    }

    .gamebox-description .gamebox-description-text {
        font-size: 21px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        display: flex;
        align-items: center;
        height: 30px;
    }

    .gamebox-description .price-tag span.badge {
        padding: 5px;
    }

.release-platforms {
    margin-top: 10px;
    color: #242a33;
}

.user-profile .box-footer, .game-page .box-footer {
    padding-top: 0px;
}

.user-img-front {
    width: 160px;
    height: 160px;
}

.user-profile .avatar-wrapper, .game-page .avatar-wrapper {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.game-page-cover-topright, .user-profile-cover-topright {
    position: absolute;
    top: 20px;
    right: 20px;
}

    .game-page-cover-topright .btn, .user-profile-cover-topright .btn {
        color: white;
    }

.user-profile-xp {
    border-radius: 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.user-panel .sidebar-full .btn {
    color: white !important;
    display: block;
}

.user-panel .info a {
    color: white;
}

.tag {
    margin-bottom: 5px;
}

#carousel-front-page {
    margin-bottom: 10px;
}



.control-sidebar-dark .btn-default {
    color: #fff !important;
}

.flex-square {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
}

.flex-square .flex-square-inner-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
}

.flex-square.rectangle {
    width: 100%;
    padding-top: 100%;
}

.box-content .btn[class*=bg-]:hover,
.box-content .btn[class*=bg-]:focus,
.btn-interaction-comment-send:hover,
.btn-interaction-comment-send:focus,
.comment-send-button:hover,
.comment-send-button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}


@media (max-width: 767px) {
    .comment-send-button {
        margin-top: -38px;
    }
}

@media (min-width: 768px) {
    .comment-send-button {
        margin-top: -38px;
    }
}


.control-buttons {
    margin-bottom: 10px;
}

    .control-buttons a {
        color: white;
    }


video {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.videoWrapper {
    position: relative;
}

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


.bg-patreon {
    background-color: #f96854 !important;
}
