@model ForgotPasswordViewModel
@{
    ViewData["Title"] = SharedLocalizer["Forgot your password?"];
    ViewData["CanonicalUrl"] = "https://www.indievisible.net/account/forgotpassword/";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<div class="login-box">
    <h1 class="sr-only">@ViewData["Title"]</h1>
    <div class="login-logo">
        <a asp-area="" asp-controller="home" asp-action="index">
            <span><img src="~/images/logo360w.png" class="embed-responsive" alt=""></span>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h2>@ViewData["Title"]</h2>
        <h4>Enter your email.</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-lg btn-info btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
