@model LocalizationViewModel
@{
    ViewData["Title"] = SharedLocalizer["Translate for {0}", Model.Game.Title];
    ViewData["Description"] = "tralala";
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "localization", new { area = "tools", id = Model.Id });
    ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/oglocalization.png";

    Model.Game.Title = string.Empty;

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/localization.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/localization.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/localization/localizationcommon.js"></script>
        <script src="~/js/localization/localizationtranslate.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/localization/localizationtranslate.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<input type="hidden" id="urls" value="urls"
       data-url-entry-save="@Url.Action("savetranslation", "localization", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-entries-get="@Url.Action("gettranslation", "localization", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-entries-save="@Url.Action("saveentries", "localization", new { area = "tools", x = 1, projectId = Model.Id })"
       data-url-avatar="@IndieVisible.Application.Constants.DefaultAvatarPlaceholder"/>

<section class="content container">
    <div id="featurecontainer" class="col">
        <partial name="_Translate" model="Model" />
    </div>
</section>