@model IEnumerable<TeamViewModel>
@{
    Layout = null;
}

@if (!Model.Any())
{
    <div class="text-center mt-2 team-item list-item p-4 bg-white">
        <i class="fa-10x fas fa-sad-tear" aria-hidden="true"></i>
        <div class="mt-10">
            <h3>@SharedLocalizer["You are not on a team! C'mon, make some friends!"]</h3>
        </div>
    </div>
}
else
{
    @foreach (var team in Model)
    {
        <div class="col-12">
            <a asp-area="" asp-controller="team" asp-action="details" asp-route-teamId="@team.Id"><span>@team.Name</span></a>
        </div>
    }
}
