
@{
    ViewData["Title"] = "Message";
}

<div class="col-xl-12 margin-top-10">
    <div class="row">
        <div class="col-lg-3 col-12">
            <a href="#" class="btn btn-white btn-block btn-shadow margin-bottom">Compose</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding mailbox-nav">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">
                                <i class="ion ion-ios-mail-unread" aria-hidden="true"></i> Inbox
                                <span class="label bg-orange pull-right">12</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="ion ion-ios-paper-plane" aria-hidden="true"></i> Sent</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-lg-9 col-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Inbox</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <!-- /.btn-group -->
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ion ion-ios-flag margin-r-5" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                        <div class="float-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="mailbox-messages">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td class="mailbox-name">Hritik Roshan</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">3 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Genelia Roshan</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">14 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Ritesh Deshmukh</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">15 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Akshay Kumar</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">25 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Salman Dada</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">3 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Rucha Gandhi</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">14 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Patil Bhw</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">15 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Tapan Jio</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">25 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Milin Khan</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">3 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Kajal SEO</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">14 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Ruchit Khhana</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">15 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Manoj Kumar</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">25 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Akshar Gandhi</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">3 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">vipul Patel</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">14 mins ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Amitabh Boss</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">15 hours ago</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>

                                        <td class="mailbox-name">Rajni Ana</td>
                                        <td class="mailbox-subject">
                                            <a href="#"><strong>Lorem Ipsum</strong> - There are many variations of Ipsum available...</a>
                                        </td>

                                        <td class="mailbox-date">25 hours ago</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">

                    <div class="mailbox-controls">
                        <!-- /.btn-group -->
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ion ion-ios-flag margin-r-5" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                        <div class="float-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default btn-outline btn-sm"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

