@{
    ViewData["Title"] = "Что это?";
}

<div class="abouttext bg-white">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>

        <p>
            INDIEVISIBLE - это онлайн-сообщество инди-разработчиков, построенное на платформе с открытым исходным кодом. Сама платформа находится под управлением всего сообщества через систему голосов и рейтингов.
            
            Целью является централизация, объединение других геймдев-сообществ через предоставление инструментов и функций, которые могут принести дополнительную ценность сообществу разработчиков игр.
        </p>


        <h2>Разве других сообществ не достаточно?</h2>

        <p>
            Да, вокруг есть много замечательных сообществ, таких, как GameJolt, Itch.io и Gamedev.net. Они замечательные, но идея данного проекта не заключается в том, чтобы их заменить.
        </p>

        <p>
            Хотя другие сообщества отлично подходят для игр, они «не так хороши» для самих разработчиков. Конечно, у этих сообществ есть очень полезные функции, такие как организация джемов (jams), продажа игр, управление версиями и ведение истории разработки. Но им не хватает инструментов для улучшения работы самих разработчиков и взаимодействия разработчиков друг с другом.
        </p>

        <p>
            Целью данного сообщества является улучшение сотрудничества между независимыми разработчиками игр, а также предоставление ссылок на другие сообщества, централизация их в одном месте, предоставление инновационных инструментов, таких как система управления проектами, ориентированная на гамедев, и консолидация уже привычных инструментов, таких как генератор значков приложений и социальное взаимодействие.
        </p>

        <p>
            Одной из наших сильных сторон станет система голосования. Члены сообщества смогут проголосовать за следующую функцию, которая будет реализована, и обсудить эту функцию и предложить улучшения. Система голосования будет присутствовать и в пользовательском контенте. Пользователи смогут опубликовать опрос и получить мнение других участников плвтформы. Например: «Какое меню лучше?» или «Должен ли я нанимать PR-щика?» Будет взято всё самое лучшее из социалтных сетей, использовано здесь и улучшено.
        </p>

        <p>
            Еще одно новшество этого проекта - дать больше голоса художникам и создателям музыки/звука. Здесь каждый найдет своё место.            
        </p>


        <h2>Название</h2>

        <p>
            Название IndieVisible - это начальный <strong>ВАРИАНТ</strong>, и он может поменяться в процессе разработки платформы.
        </p>

        <p>
            Основная мысль названия - разработчики инди-игр должны рассчитывать друг на друга, помогать друг другу и работать вместе.            
        </p>


        <p>
            Возможные девизы:
        </p>

        <ul>
            <li>Ничто не поделит нас на ноль;</li>
            <li>Мы единственные в своем роде, мы — синглтоны (singletons);</li>
            <li>Вместе - мы сила.</li>
        </ul>

        <h2>Кто может участвовать в разработке</h2>

        <p>
            Любой может принять участие в разработке платформы сообщества. Прямо сейчас проект находится на ранней стадии и выполняется много работ по созданию базовой архитектуры, потоков данных, типов и тп. Но, вскоре найдутся задачи для всех! Например, нам обязательно нужны:
            <ul>
                <li><strong>Разработчики:</strong> кодинг, рефакторинг, моделинг;</li>
                <li><strong>Вебдизайнеры:</strong> прототипирование страниц, верстка, создание концептов, создание шаблонов электронных сообщений;</li>
                <li><strong>Художники:</strong> создание заглушек, стандартных картинок, иконок и пр.;</li>
                <li><strong>Игровые дизайнеры:</strong> разработка системы игрофикации;</li>
                <li><strong>Переводчики:</strong> Помощь в локализации и постоянное поддержание актуальности перевода во время становления платформы (<a href="https://poeditor.com/join/project/6iNVb5O0wN">Проверьте здесь статус локализации платформы</a>);</li>
                <li><strong>Идея-парни (и девушки):</strong> Да! Нам нужны любые идеи, инновации и юмор!</li>
            </ul>

            Каждый может внести свой вклад, поскольку каждый может высказаться на тему того, как продвигать свои идеи (код / 2D / 3D / звук / музыка), помогая платформе стать более полезной для всех.           
        </p>

        <h2>Как принять участие в разработке</h2>
        <p>
            Посетите нашу <a href="https://dev.azure.com/anteatergames/indievisible">Страницу Проекта</a> на Azure DevOps, чтобы больше узнать и отслеживать успех создания платформы, и, если вы решите к нам присоединиться, просто направьте письмо <a href="mailto:programad@gmail.com">Daniel Gomes (en)</a>, основателю проекта, либо <a href="mailto:indievisible@mokhin-tech.ru">Денису Мохину (ru)</a> - координатору проекта в России и СНГ.
            <br/>
            Платформа является системой с открытым исходным кодом и разрабатывается под лицензиией <a href="https://dev.azure.com/anteatergames/_git/indievisible?path=%2FLICENSE&version=GBmaster" title="Файл лицензии в репозитории платформы" alt="Файл лицензии в репозитории платформы" target="_blank">MIT</a>.
        </p>

        <h2>Технические данные</h2>
        <p>
            <ul>
                <li>Система развернута на <strong>Windows Azure</strong></li>
                <li><strong>Проблемно-ориентированное проектирование</strong> стабилизирует правила базовой архитектуры.</li>
                <li>Платформа разработки <strong>ASP.NET Core 2.1</strong></li>
                <li>База данных <strong>SQL Azure</strong> с доступом через <strong>Entity Framework Core</strong>.</li>
            </ul>
        </p>
    </div>
</div>

@section Styles {
    <style>
        .abouttext a {
            color: blue !important;
        }
    </style>
}
