@{
    ViewData["Title"] = "O que é";
}

<div class="abouttext bg-white">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>

        <p>
            INDIEVISIBLE é uma comunidade online de código fonte aberto para desenvolvedores independentes de jogos,gerenciada pela própria comunidade usando sistemas de votação e ranking.
            O objetivo é centralizar, agregar outras comunidades de gamedev enquanto oferece uma coleção de ferramentas e funcionalidades que adicionam valor á comunidade.
        </p>


        <h2>Mas já existem outras comunidades</h2>

        <p>
            Sim, já existem comunidades grandes como GameJolt, Itch.io e Gamedev.net. Elas são ótimas e a intenção deste projeto não é substituí-las.
        </p>

        <p>
            Enquanto essas outras comunidades são ótimas para jogos, elas não são tão boas para os próprios desenvolvedores. É claro que elas possuem funcionalidades muito úteis como gestão de game jams, venda de jogos,
            gestão de versões e devlogs, etc, mas elas não possuem mais ferramentas para ajudar os próprios desenvolvedores e fomentar a interação entre eles.
        </p>

        <p>
            O propósito desta comunidade é melhorar a colaboração entre os desenvolvedores independentes de jogos provendo links para outras comunidades, centralizando-as em um único lugar,
            enquanto provê ferramentas inovadoras como um sistema de gestão de projetos orientada a gamedev e consolidando ferramentas já consagradas como gerador de ícone de app e compartilhamento em redes sociais.
        </p>

        <p>
            Um dos nossos pontos fortes será o sistema de votação. Os membros da comunidade poderão votar no próximo recurso a ser implementado, discutir o recurso e sugerir melhorias.
            O sistema de votação também estará presente no conteúdo gerado pelos usuários. Os usuários poderão postar enquetes e fazer com que outros usuários votem em suas próprias perguntas, como "Qual menu é melhor?"
            ou "Devo contratar um Relações Públcas?", os usuários decidem o que querem perguntar à comunidade. Esta é uma interação comum nas redes sociais e vamos trazê-lo aqui e melhorá-lo.
        </p>

        <p>
            Outra inovação deste projeto é dar mais voz a artistas visuais e criadores de música/som. Todo mundo vai ter o seu lugar aqui.
        </p>


        <h2>O nome</h2>

        <p>
            O nome IndieVisible é apenas uma <strong>SUGESTÃO</strong> inicial e é possível mudar durante o processo de brainstorm e desenvolvimento.
        </p>

        <p>
            O conceito por trás do nome é que os desenvolvedores de jogos independentes devem contar uns com os outros, ajudar uns aos outros e continuar trabalhando juntos.
        </p>


        <p>
            Possible lemas:
        </p>

        <ul>
            <li> Nada pode nos dividir(por zero); </ li>
            <li> Somos apenas um (singleton); </ li>
            <li> Juntos, somos mais forte(mente tipados). </ li>
        </ul>

        <h2>Quem pode contribuir</h2>

        <p>
            Qualquer um pode contribuir. No momento, o projeto está nos estágios iniciais e há mais trabalho arquiteturais, definindo arquitetura de solução, fluxos de trabalho de código, tipos etc.
            Com o tempo, haverá tarefas para todos. Aqui estão alguns exemplos de expertises necessárias:

            <ul>
                <li>Desenvolvedores: codificação, refatoração, modelagem;</li>
                <li>Webdesigners: prototipação de páginas, criação de conceitos, criação de modelos de e-mail;</li>
                <li>Artistas visuais: criação de placeholders, imagens padrão, ícones, etc;</li>
                <li>Game designers: A gameficação do sistema;</li>
                <li>Tradutores: Ajudar a manter as traduções atualizadas enquanto o sistema cresce (<a href="https://poeditor.com/join/project/6iNVb5O0wN"> Verifique o andamento da tradução </a>);</li>
                <li>"Idea guys": Sim, precisamos de muitas ideias, inovadoras e divertidas;</li>
            </ul>

            Todos podem contribuir, pois cada um pode dar ideias sobre como promover sua própria arte (código/2D/3D/som/música), ajudando o sistema a se tornar mais útil para todos.
        </p>

        <h2>Como contribuir</h2>
        <p>
            Você pode visitar nossa <a href="https://dev.azure.com/anteatergames/indievisible">página do projeto</a> no Azure DevOps para ler mais e acompanhar o progresso e, se decidir
            se juntar a nós, envie um email para <a href="mailto:programad@gmail.com">Daniel Gomes</a>, o fundador do projeto.

            O código é opensource, isso significa que todos podem ler e ajudar a melhorar ou copiar para si mesmos e talvez lançar um melhor.
        </p>

        <h2>Especificações Técnicas</h2>
        <p>
            <ul>
                <li>O sistema está hospedado no <strong>Windows Azure</strong></li>
                <li><strong>Domain Driven Design</strong> estabelece as regras para arquitetura básics.</li>
                <li><strong>ASP.NET Core 2.1</strong> é o framework por baixo do capô.</li>
                <li>O banco de dados usado é o <strong>SQL Azure</strong> e é acessado usando <strong>Entity Framework Core</strong>.</li>
            </ul>
        </p>
    </div>
</div>

@section Styles {
    <style>
        .abouttext a {
            color: blue !important;
        }
    </style>
}