@{
    ViewData["Title"] = "What it is";
}

<div class="abouttext col-lg-8 offset-lg-2 offset-xl-2 col-md-12 offset-md-0 bg-white">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>

        <p>
            INDIEVISIBLE is an online indie game developer community with open source code, managed by the community itself using voting and ranking system.
            The goal is to centralize, aggregate other gamedev communities and social networks while offering a set of tools and features that can add some value to the game dev community.
        </p>


        <h2>But there are already other communities</h2>

        <p>
            Yes, there is already great communities like GameJolt, Itch.io and Gamedev.net. They are great and the intent of this project is not to replace them.
        </p>

        <p>
            While these other communities are great for games, they are "not so great" for the developers themselves. Of course, they have very useful features like jam management, game sales,
            managing versions and devlogs, but they lack more tools to improve the developers themselves, interaction between them.
        </p>

        <p>
            The purpose of this community is to improve the collaboration bewteen independent game developers while providing links to other communities, centralizing them in a single place,
            while providing innovative tools like gamedev-oriented project management system and consolidating already consagrated tools like app icon generator and social sharing.
        </p>

        <p>
            One of our strenghts is the voting system. The community members are able to vote on the next feature to be implemented and discuss the feature and suggest improvements.
            The voting system is present for user-generated content as well. Users can post polls and have other users voting on their own questions like "Wich menu is better?"
            or "Should I hire a PR?", the users decide what they want to ask to the community. This is a common interaction on social networks and we will bring it here and improve it.
        </p>

        <p>
            Another innovation of this project is to give more voice to visual artists and music/sound creators. Everyone will have their place here.
        </p>


        <h2> The Name</h2>

        <p>
            The name IndieVisible is just a initial <strong>SUGGESTION</strong> and is possible to change during the brainstorm and development process.
        </p>

        <p>
            The concept behind the name is that indie game developers should count on each other, help each other and keep working together.
        </p>


        <p>
            Possible mottos:
        </p>

        <ul>
            <li>Nothing can divide us by zero;</li>
            <li>We are singleton;</li>
            <li>Together we are stronger typed.</li>
        </ul>

        <h2>Who can contribute</h2>

        <p>
            Anyone can contribute. Right now, the project is on early stages and there are more architectural work, defining solution architecture, code workflows, types, etc but
            in time, there will be tasks for everyone. Here are some examples of needed expertises:

            <ul>
                <li>Developers: Coding, refactoring, modeling;</li>
                <li>Webdesigners: prototyping pages, creating concepts, creating email templates;</li>
                <li>Visual Artists: Creating placeholders, standard images, icons, etc;</li>
                <li>Game designers: The gamefication of the system;</li>
                <li>Translators: Help keep the translations up to date as the system grows (<a href="https://poeditor.com/join/project/6iNVb5O0wN">Check the translation progress</a>);</li>
                <li>Idea guys: Yes, we need lots of ideas, innovative and humorous</li>
            </ul>

            Everyone can contribute since eachone can give ideas on how to promote their own art (code/2D/3D/sound/music) helping the system to become more useful for everyone.
        </p>

        <h2>How to contribute</h2>
        <p>
            You can visit our <a href="https://dev.azure.com/anteatergames/indievisible">Project Page</a> on Azure DevOps to read more and follow the progress and if you decide
            to join us, send an email to <a href="mailto:programad@gmail.com">Daniel Gomes</a>, the founder of the project.

            The code is opensource, meaning everyone can read and help improve or copy to themselves and maybe launch a better one.
        </p>

        <h2>Technical specifications</h2>
        <p>
            <ul>
                <li>The system is hosted on <strong>Windows Azure</strong></li>
                <li><strong>Domain Driven Design</strong> stabilishes the rules for basic architecture.</li>
                <li><strong>ASP.NET Core 2.1</strong> is the underlying framework.</li>
                <li>The database used is <strong>SQL Azure</strong> and accessed using <strong>Entity Framework Core</strong>.</li>
            </ul>
        </p>
    </div>
</div>

@section Styles {
    <style>
        .abouttext a {
            color: blue !important;
        }
    </style>
}
