@model ChangePasswordViewModel
@{
    ViewData["SubTitle"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info"><i class="fas fa-key" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Change my password"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}