@model SetPasswordViewModel
@{
    ViewData["SubTitle"] = SharedLocalizer["Set password"];
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    @SharedLocalizer["You do not have a password set here with us but don't worry, you can set one now to be able to log in without an external provider."]
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info"><i class="fas fa-key" aria-hidden="true">&nbsp;</i>@SharedLocalizer["Set password"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
